@model BlueBloodSystem.Models.TransactonsViewModel

@{
    ViewBag.Title = "Index";
}

<div id="transactions-wrapper">
    <h2>@Model.MonthName @Model.Year</h2>
    <p class="admin">
        @Html.ActionLink("Добави", "Create", null, new { @class = "btn btn-primary" })
    </p>


    @if (Model != null && Model.Incoming.Count() > 0)
    {
        <h4>Приходи</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Име", "Index", new { sortBy = "Name", year = Model.Year, month = Model.Month })
                </th>
                <th>
                    @Html.ActionLink("Дата", "Index", new { sortBy = "Date", year = Model.Year, month = Model.Month })
                </th>
                <th>
                    @Html.ActionLink("Стойност", "Index", new { sortBy = "Value", year = Model.Year, month = Model.Month })
                </th>
                @*<th>
                        @Html.ActionLink("Приход/Разход", "Index", new { sortBy = "IsDividend", year = Model.Year, month = Model.Month })
                    </th>*@
                <th class="admin"></th>
                <th class="admin"></th>
            </tr>

            @foreach (var item in Model.Incoming)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)лв.
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsDividend)
                        </td>*@
                    <td class="admin">@Html.ActionLink("Редакция", "Edit", new { id = item.Id })</td>
                    <td class="admin">@Html.ActionLink("Изтриване", "Delete", new { id = item.Id })</td>
                </tr>
            }

        </table>
    }

    @if (Model != null && Model.Outgoing.Count() > 0)
    {
        <h4>Разходи</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Име", "Index", new { sortBy = "Name", year = Model.Year, month = Model.Month })
                </th>
                <th>
                    @Html.ActionLink("Дата", "Index", new { sortBy = "Date", year = Model.Year, month = Model.Month })
                </th>
                <th>
                    @Html.ActionLink("Стойност", "Index", new { sortBy = "Value", year = Model.Year, month = Model.Month })
                </th>
                @*<th>
                        @Html.ActionLink("Приход/Разход", "Index", new { sortBy = "IsDividend", year = Model.Year, month = Model.Month })
                    </th>*@
                <th class="admin"></th>
                <th class="admin"></th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model.Outgoing)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)лв.
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.IsDividend)
                            </td>*@
                        <td class="admin">@Html.ActionLink("Редакция", "Edit", new { id = item.Id })</td>
                        <td class="admin">@Html.ActionLink("Изтриване", "Delete", new { id = item.Id })</td>
                    </tr>
                }
            }
        </table>
    }

    <div class="alert alert-success" role="alert">
        <strong>Приходи:</strong> <i>@Model.IncomingSum</i>лв.
    </div>
    <div class="alert alert-danger" role="alert">
        <strong>Разходи:</strong> <i>@Model.OutgoingSum</i>лв.
    </div>
    <div class="alert alert-info" role="alert">
        <strong>Тотал:</strong> <i>@Model.Total</i>лв.
    </div>
</div>

<div class="modal fade" id="keyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Синя Кръв Асеновград</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Моля въведете парола:</label>
                        <input type="password" class="form-control" id="userKey">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="sendUserKey()">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/app-key.js"></script>