<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Синя Кръв Асеновград</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon-16x16.png">
    <link rel="manifest" href="~/Content/images/site.webmanifest">
    <link rel="mask-icon" href="~/Content/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*@Html.ActionLink("Синя Кръв Асеновград", "Index", "Transaction", new { area = "" }, new { @class = "navbar-brand" })*@
        @* <label>Синя Кръв Асеновград</label>*@
        <a class="navbar-brand" href="~/Transaction/Index" style="color: #0275d8;">Синя Кръв Асеновград</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2018
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Януари", "Index", "Transaction", new { month = 1, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Февруари", "Index", "Transaction", new { month = 2, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Март", "Index", "Transaction", new { month = 3, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Април", "Index", "Transaction", new { month = 4, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Май", "Index", "Transaction", new { month = 5, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Юни", "Index", "Transaction", new { month = 6, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Юли", "Index", "Transaction", new { month = 7, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Август", "Index", "Transaction", new { month = 8, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Септември", "Index", "Transaction", new { month = 9, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Октомври", "Index", "Transaction", new { month = 10, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Ноември", "Index", "Transaction", new { month = 11, year = 2018 }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Декември", "Index", "Transaction", new { month = 12, year = 2018 }, new { @class = "dropdown-item" })
                        <hr />
                        @Html.ActionLink("Всички", "AllMonths", "Transaction", new { year = 2018 }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Търсачка", "Search", "Transaction", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("МФК", "Index", "Soccer", null, new { @class = "nav-link" })
                </li>
                @*<li class="nav-item">
            @Html.ActionLink("Анкета", "Index", "Poll", null, new { @class = "nav-link" })
        </li>*@
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Синя Кръв Асеновград</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
