<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Синя Кръв Асеновград</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Синя Кръв Асеновград", "Index", "Transactions", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            2018
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Януари", "Index", "Transactions", new { month = 1, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Февруари", "Index", "Transactions", new { month = 2, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Март", "Index", "Transactions", new { month = 3, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Април", "Index", "Transactions", new { month = 4, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Май", "Index", "Transactions", new { month = 5, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Юни", "Index", "Transactions", new { month = 6, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Юли", "Index", "Transactions", new { month = 7, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Август", "Index", "Transactions", new { month = 8, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Септември", "Index", "Transactions", new { month = 9, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Октомври", "Index", "Transactions", new { month = 10, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Ноември", "Index", "Transactions", new { month = 11, year = 2018 }, null)</li>
                            <li>@Html.ActionLink("Декември", "Index", "Transactions", new { month = 12, year = 2018 }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Анкети", "Index", "Poll")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Синя Кръв Асеновград</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
